<ion-header>
  <ion-navbar>
    <ion-title>Champions</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      Campeões
    </ion-list-header>
    <a ion-item (click)="openModal({charNum: 0})">
      Aatrox
    </a>
    <a ion-item (click)="openModal({charNum: 1})">
      Akali
    </a>
    <a ion-item (click)="openModal({charNum: 2})">
      Amumu
    </a>
    <a ion-item (click)="openModal({charNum: 3})">
      Darius
    </a>
    <a ion-item (click)="openModal({charNum: 4})">
      Elise
    </a>
    <a ion-item (click)="openModal({charNum: 5})">
      Gangplank
    </a>
    <a ion-item (click)="openModal({charNum: 6})">
      Master Yi
    </a>
    <a ion-item (click)="openModal({charNum: 7})">
      Orianna
    </a>
    <a ion-item (click)="openModal({charNum: 8})">
      Rengar
    </a>
    <a ion-item (click)="openModal({charNum: 9})">
      Talon
    </a>
    <a ion-item (click)="openModal({charNum: 10})">
      Twisted Fate
    </a>
    <a ion-item (click)="openModal({charNum: 11})">
      Vayne
    </a>
    <a ion-item (click)="openModal({charNum: 12})">
      Viktor
    </a>
    <a ion-item (click)="openModal({charNum: 13})">
      Yasuo
    </a>
    <a ion-item (click)="openModal({charNum: 14})">
      Yorick
    </a>
    <a ion-item (click)="openModal({charNum: 15})">
      Zyra
    </a>
  </ion-list>

</ion-content>