<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Sobre</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div padding class="about-info">
    <h4>Leaguepedia</h4>
    <p>
      Leaguepedia é um aplicativo com informações gerais do jogo League of Legends
      desenvolvido para o trabalho final da matérica de Desenvolvimento Móvel 
      Híbrido com Ionic Framework.
    </p>    
  </div>

          <div class="list">
            <a class="item" href="#" onclick="window.open('http://www.facebook.com/yuri.burk', '_system', 'location=yes'); return false;">
                Facebook
            </a>
        </div>
</ion-content>
