<ion-tabs [selectedIndex]="mySelectedIndex">
  <ion-tab [root]="tab1Root" tabTitle="Champions" tabIcon="contacts"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Itens" tabIcon="book"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="About" tabIcon="help"></ion-tab>
</ion-tabs>
