<ion-header>
  <ion-navbar no-border-bottom>
    <ion-title>
      Itens
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div [ngSwitch]="itens">
    <ion-list *ngSwitchCase="'Todos'">
      <ion-item>
        <ion-thumbnail item-left>
          <img src="assets/img/champions/Seraph.png">
        </ion-thumbnail>
        <h2>Abraço de Seraph</h2>
        <p>Custo: Especial</p>
        <p>+80 de Poder de Habilidade.</p>
        <p>Concede poder de habilidade igual a 3% da mana.</p>
        <p>Escudo de Mana: Consome 20% da mana.</p>
      </ion-item>
      <ion-item>
        <ion-thumbnail item-left>
          <img src="assets/img/champions/Zhonya.png">
        </ion-thumbnail>
        <h2>Ampulheta de Zonya</h2>
        <p>Custo: 2900</p>
        <p>+70 de Poder de Habilidade.</p>
        <p>+45 de Armadura.</p>
        <p>+10% Redução do Tempo de Recarga.</p>
      </ion-item>
      <ion-item>
        <ion-thumbnail item-left>
          <img src="assets/img/champions/Guardian.png">
        </ion-thumbnail>
        <h2>Anjo Guardião</h2>
        <p>Custo: 2400</p>
        <p>+60 de Armadura.</p>
        <p>+45 de Resistência Mágica.</p>
        <p>Restaura 700 de Vida ou 30% da Vida máxima.</p>
      </ion-item>
      <ion-item>
        <ion-thumbnail item-left>
          <img src="assets/img/champions/Queen.png">
        </ion-thumbnail>
        <h2>Asserção da Rainha Gélida</h2>
        <p>Custo: 2200</p>
        <p>+50 de Poder de Habilidade</p>
        <p>+10% de Redução do Tempo de Recarga</p>
        <p>+2 un. de ouro a cada 10 s</p>
      </ion-item>
      <ion-item>
        <ion-thumbnail item-left>
          <img src="assets/img/champions/Void.png">
        </ion-thumbnail>
        <h2>Cajado do Vazio</h2>
        <p>Custo: 2650</p>
        <p>+80 de Poder de Habilidade</p>
        <p>Passivo ÚNICO: +35% de Penetração Mágica.</p>
      </ion-item>
      <ion-item>
        <ion-thumbnail item-left>
          <img src="assets/img/champions/Echo.png">
        </ion-thumbnail>
        <h2>Eco de Luden</h2>
        <p>Custo: 3200</p>
        <p>+100 de Poder de Habilidade</p>
        <p>+10% de Velocidade de Movimento</p>
      </ion-item>
      <ion-item>
        <ion-thumbnail item-left>
          <img src="assets/img/champions/Dominik.png">
        </ion-thumbnail>
        <h2>Lembranças do Lorde Dominik</h2>
        <p>Custo: 2700</p>
        <p>+50 de Dano de Ataque</p>
        <p>Concede até +15% de Dano Físico</p>
      </ion-item>
      <ion-item>
        <ion-thumbnail item-left>
          <img src="assets/img/champions/Tear.png">
        </ion-thumbnail>
        <h2>Lágrima da Deusa</h2>
        <p>Custo: 750</p>
        <p>+250 de Mana</p>
        <p>Restitui 15% da Mana gasta.</p>
        <p>Concede 4 de Mana para cada habilidade conjurada.</p>
      </ion-item>
    </ion-list>
  </div>
</ion-content>